* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // &::-webkit-scrollbar {
  //   scrollbar-width: none;
  //   display: none;
  //   height: 0px;
  //   width: 0px;
  // }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: $albert-sans !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $albert-sans !important;
}


button {
  &:focus-visible {
    outline: none !important;
  }
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}
